<div class="top-logo container">
    <div class="c1 text-center"><img src="images/logo.jpeg" alt="virtual lab logo"></div>
    <div class="c2 text-center"><h2>Department of Chemical Engineering</h2></div>
    <div class="c1 text-center"><img src="images/nitw-2.jpeg" alt="nitw logo"></div>
</div>

<nav class="container navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Virtual Lab</a>
</nav>
