<div class="top-logo container">
    <div class="c1 text-center"><img src="images/logo.jpeg" alt="virtual lab logo"></div>
    <div class="c2 text-center"><h2>Department of Chemical Engineering</h2></div>
    <div class="c1 text-center"><img src="images/nitw-2.jpeg" alt="nitw logo"></div>
</div>

<nav class="container navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Virtual Lab</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">    
            <li class="nav-item"><a href="theory" class="nav-link" >Theory</a></li>
            <li class="nav-item"><a href="procedure" class="nav-link" >Procedure</a></li>
            <li class="nav-item"><a href="prequiz" class="nav-link" >Self Evaluation</a></li>
            <li class="nav-item"><a href="simulation" class="nav-link" >Experimentation</a></li>
            <li class="nav-item"><a href="postquiz" class="nav-link" >Quiz</a></li>
            <li class="nav-item"><a href="video" class="nav-link" >References</a></li>
        </ul>
    </div>
</nav>
