<div class="top-logo bg-light text-center">
    <img class="bg-dark" src="images/nitw-2.jpeg" alt="nitw logo">
    <h2>Department of Chemical Engineering</h2>
</div>

<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Virtual Lab</a>
</nav>
