<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div id="calculation" class="container">
    <button id="pfr-menu" class="button" type="button">PFR</button>
    <button id="cstr-menu" class="button" type="button">CSTR</button>
</div>

<script src="/js/reactor.js"></script>
<%- include("partials/footer") -%>
