<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div id="calculation" class="container">

    


</div>

<script src="/js/makeChart.js"></script>
<%- include("partials/footer") -%>
