<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="">
  <h1>Introduction</h1>
  <p>
    At NIT Warangal, we have developed a web application for conducting laboratory experiments virtually.
    A virtual laboratory is a tool for distance learning or experimentation that allows people to share knowledge, data, voice, video, tools, and many other resources.
    This application aims to provide a learning experience of laboratory experiments through the use of computer simulations and graphic tools.
    This project is primarily intended for a wider audience beyond the classroom.
    In this particular module, we cover the reaction kinetics of Combined Reactor (PFR-CSTR).
  </p>
</div>

<%- include("partials/footer") -%>
