<nav class="">
    <ol>
        <li class=""><a href="theory">Theory</a></li>
        <li class=""><a href="procedure">Procedure</a></li>
        <li class=""><a href="prequiz">Prequiz</a></li>
        <li class=""><a href="simulation">Simulation</a></li>
        <li class=""><a href="postquiz">Postquiz</a></li>
        <li class=""><a href="video">Video</a></li>
    </ol>
</nav>
