<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="container">
    <ul>
        <li>Chemical Reaction Engineering (3rd Edition), Octave Levenspiel, 1999, John Wiley & Sons</li>
        <li>Elements of Chemical Reaction Engineering (4th Edition), H. Scott Fogler, 2005, Prentice Hall</li>
        <li>Fundamentals of Chemical Reaction Engineering (1st Edition), Mark E. Davis and Robert J. Davis, 2003, The McGraw-Hill Companies, Inc.</li>
        <li><a href="http://apmonitor.com/me575/index.php/Main/EthylAcetate">http://apmonitor.com/me575/index.php/Main/EthylAcetate</a> for kinetic data</li>
    </ul>
    






</div>
<%- include("partials/footer") -%>
