<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div id="sim-container-1">
    <div class="container">
        <button type="button" class="button" onclick="addpfr() ">Add PFR </button> 
        <button type="button" class="button" onclick="addcstr()">Add CSTR </button> 
        <button type="button" class="button" onclick="myFunction()">Design reactor</button>
    </div>
    <div>
        <ul id="reactors">

        </ul>
    </div>
    <canvas class="container" style="max-height:400px; height: auto; margin-right: auto; margin-left: auto;" id="myChart" >
    
    </canvas>
    
</div>

<script src="/js/makeChart.js"></script>

<%- include("partials/footer") -%>
