<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div id="sim-container-1">
    <form class="container">
        Flow rate of NaOH,                        F<math><sub>A</sub></math> &nbsp;        <input id="fa" type="number" step="0.1" name="fa" min="1" max="20" > LPH   <br> 
        Flow rate of Ethyl Acetate,               F<math><sub>B</sub></math> &nbsp;        <input id="fb" type="number" step="0.1" name="fb" min="1" max="20" > LPH   <br> 
        Normality of NaOH in feed tank,           N<math><sub>A</sub></math> &nbsp;        <input id="na" type="number" step="0.1" name="na" min="0" >  N          <br>
        Normality of Ethyl Acetate in feed tank,  N<math><sub>B</sub></math> &nbsp;        <input id="nb" type="number" step="0.1" name="nb" min="0" >  N          <br> 
        Temperature, T     &nbsp; <input id="temperature" type="range" name="temperature" min="25" max="40"> &deg;C <br> 
        Length of PFR, L   &nbsp; <input id="pfrLength" type="number" name="pfrLength" min="0" step="1" > m <br>  
        Diameter of PFR, D &nbsp; <input id="pfrDiameter" type="number" name="pfrDiameter" min="0" step="0.01" > cm <br> 
        Volume of CSTR, V  &nbsp; <input id="cstrVolume" type="number" name="cstrVolume" min="0" step="0.01"> <br>
        <button type="button" class="button" onclick="myFunction()">Submit</button>
    </form>
    
    <canvas class="container" style="height: auto; margin-right: auto; margin-left: auto;" id="myChart" >
    
    </canvas>
    
</div>

<script src="/js/makeChart.js"></script>

<%- include("partials/footer") -%>
