<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<form action="/">
    Flow rate of NaOH, F<math><sub>A</sub></math> <input type="text" name="fa"><br> <br>
    Flow rate of Ethyl Acetate, F<math><sub>B</sub></math> <input type="text" name="fb"> <br> <br>
    Normality of NaOH in feed tank, N<math><sub>A</sub></math> <input type="text" name="na"> <br> <br>
    Normality of Ethyl Acetate in feed tank, N<math><sub>B</sub></math> <input type="text" name="nb"> 
</form>



<%- include("partials/footer") -%>
