* {
    font-family: Akkurat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container p {
    text-align: justify;
}

#sticky-footer {
    flex-shrink: none;
}

.theory-table {
    margin-right: auto;
    margin-left: auto;
}
  
.theory-table tr td{
    text-align: center;
    padding: 20px;
}

.vertical-rule {
    border-right: 1px solid #5a66d362;
}

/* quiz section starts*/

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
    display: none;
}

/* If response messages are disabled or only shown on quiz completion,
   nextQuestion button IS checkAnswer button - so it must be displayed */
.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;

}

/* Accessibility */
.quizName span:first-child {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button {
    /* float: left; */
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
.button:hover {
    background-color:rgb(63, 182, 182);
    text-decoration: none;
}

.startQuiz {
    margin-top: 40px;
}

.tryAgain {
    float: none;
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14px;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: -20px;
    margin-bottom: 20px;
}

ul.responses li {
    margin: 10px 20px 20px -20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.complete ul.answers li.correct, ul.responses li.correct p span {
    color: green;
}
ul.responses li.incorrect p span {
    color: red;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}
/* quiz section ends */


/* simulation css starts*/

#sim-container-1 canvas {
    border-top: 1px solid black;;
    flex: 1;
    padding: 5px;
}

#sim-container-1 form {
    border-top:1px solid black;
    flex: 1;
    padding: 5px;
}

.input-style {
    margin: 6px;
    width: 70px;
}

.input-radio {
    margin: 7px;
}

@media only screen and (min-width: 600px) {
    #sim-container-1 {
        display: flex;
    }   
}

/* simulation css ends */

/* New simulation css starts*/
.menu {
    min-height: 324px;
}

.pipe {
    background-color: rgba(99, 100, 109, 0.404);
    border: 1px solid rgb(99, 100, 109);
    border-right-style:none;
    border-left-style: none;
    display: inline-block;
    height: 10px;
    margin: 10px 0px;
    vertical-align: middle;
    width: 20px;
}

.reactor {
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 50px;
    line-height: 45px;
    margin: 10px 0px;
    text-align: center;
    vertical-align: middle;
    width: 70px;
}

.pink{
    background-color: rgba(219, 112, 148, 0.699);
    border: 2px solid #DB7093;
}

.blue {
    background-color: rgba(30, 50, 230, 0.61);
    border: 2px solid rgb(30, 50, 230);
}

.reactor-display {
    margin-top: 40px;
}

.default-margin {
    margin: 8px;
}

.hide {
    display: none;
}

/* New simulation css ends */